<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
        <form action="/login" method="post" content-length=50 enctype="application/x-www-form-urlencoded">
        <label for="username">username:</label>
        <input id="username" type="text">
        <br>
        <label for="password">password:</label>
        <input id="password" type="text">
        <br>
        <input  type="submit" value="Login">
        </form>

        <script>
            //username = document.getElementById('username').value;
           // password = document.getElementById('password').value;
            //$.ajax({
             //   url: "http://localhost:5000/login",
              //  type: "post",
              //  data: {
               //     username: username,
                //    password: password 
            //    }
           // })
          // username = document.getElementById('username').value;
          //  password = document.getElementById('password').value; 
          //  body.json.strigify()
        </script>
    
</body>
</html>